body { 
    background-image: url("balckblack.jpg");
    opacity: 200%;
    block-size: 460px; 
}


.box1{
    display: flex;
    flex-direction: column;
    justify-items: stretch;  
}
.box{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}



.title {
    
    border-bottom: 5px solid #f2f2f2;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f2f2f2;
    font-size: 40px;
    text-align: center;
    
}

.quantity { 
    display: flex; 
    justify-content: start; 
    
    
}
input {
    text-align: center;
}

.minus-btn img {
max-block-size: 20px; 
cursor: pointer;   
}
.plus-btn img {
max-block-size: 20px;  
cursor: pointer;  
}

.box .image img {  
    padding-top: 40px;   
    display:flex; 
    position: relative; 
    max-block-size: 250px;
}
div img{
block-size: 248px;
}




.total-price {
color: gold;   
background-color: #413f40bd;
display: flex;
justify-content: center;
padding: 20px;
max-width: 210px;
}

.item {
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 210px;
    padding: 20px; 
}

.buttons{
    margin-left: 43px;   
    background-color: #f2f2f2;
    display: flex;
    justify-content:space-around;
    margin-left: 5px;  
}
.bi-bi-heart, .delete-btn{
    cursor: pointer;
    
    
}
.bi-bi-heart::before{
    position: relative;
    cursor: pointer;
    transition: .4s;
    transform-origin: 0 100%;

}
.bi-bi-heart::after{
    
    position: absolute;
    cursor:pointer;
    transition: .4s;
    transform-origin :100% 100%;
    
}
.bi-bi-heart.liked{
    animation: liked .4s ease;
    color: red;  
}


@keyframes liked {
    0% {
    transform: scale(.8);
    }
    50% {
    transform: scale(1.1);
    }
    100% {
    transform: scale(1);
    }
}




















